select {
    max-width: 100% !important;
}

.btn {
    background-color: #e2bd84;
    border-color: #e2bd84;
}

.btn:hover {
    background-color: #cca264;
    border-color: #cca264;
}

/* Header */
.active{
    background-color: #cca264;
    color: #000000;
}

/* Style for available days */
.available-day {
    background-color: #c3e6cb;
    cursor: pointer;
}

/* Style for unavailable days */
.unavailable-day {
    background-color: #f8d7da;
}

.text-muted {
    color: #6c757d;
}

/* Style for selected days */
.selected-start {
    background-color: #cca264;
    color: #000000;
}

.selected-middle {
    background-color: #e2bd84;
    color: #000000;
}

.selected-end {
    background-color: #cca264;
    color: #000000;
}

#availability-table td {
    padding: 0px;
}

#availability-table div {
    padding: 8px;
}

.tomorrow {
    background-color: #e2bd84 !important;
}

a {
    text-decoration: none;
}

/* Pagination container */
.pagination {
    margin-top: 20px;
    text-align: center;
}

/* Pagination links */
.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 2px;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ddd;
    text-decoration: none !important;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Hover effect */
.pagination a:hover {
    background-color: #cca264;
}

/* Active page */
.pagination a.active {
    background-color: #e2bd84;
    color: #fff;
    border-color: #e2bd84;
}

/* Styling for the page search form */
.page-search {
    margin-top: 20px;
    text-align: center;
}

.page-search form {
    display: inline-block;
}

.page-search label {
    font-weight: bold;
    margin-right: 5px;
}

.page-search input[type="number"] {
    padding: 5px;
    width: 50px;
    text-align: center;
}

.page-search button {
    padding: 6px 10px;
    background-color: #e2bd84;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-search button:hover {
    background-color: #cca264;
}

.table-responsive {
    overflow-x: auto;
}

.half-page-table {
    min-width: 1500px;
}

.all-cap {
    text-transform: uppercase;
}

input[type='checkbox'] {
    border: 1px solid #8c8f94;
    border-color: lightgrey;
}

label {
    margin-bottom: 0.5rem;
}