/* Header */
.active{
    background-color: #cca264;
    color: #000000;
}

/* Style for available days */
.available-day {
    background-color: #c3e6cb;
    cursor: pointer;
}

/* Style for unavailable days */
.unavailable-day {
    background-color: #f8d7da;
}

.text-muted {
    color: #6c757d;
}

/* Style for selected days */
.selected-start {
    background-color: #cca264;
    color: #000000;
}

.selected-middle {
    background-color: #e2bd84;
    color: #000000;
}

.selected-end {
    background-color: #cca264;
    color: #000000;
}

#availability-table td {
    padding: 0px;
}

#availability-table div {
    padding: 8px;
}